<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="popup.css">
  </head>

  <body ng-app="popup">
    <header class="container">
      <h1>Chrome Keychain Popup</h1>
    </header>

    <p>Chrome Keychain Popup placeholder text</p>

    <!-- Open Background Index: https://developer.chrome.com/extensions/tabs#method-create -->
    <p><button>Background Index</button></p>

    <script src="/assets/bower_components/angular/angular.min.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
