<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="popup.css">
  </head>

  <body ng-app="popup">
    <header class="container">
      <h3>Chrome Keychain</h3>
    </header>

    <div class="container-fluid" ng-controller="SitesCtrl">
      <p><a class="btn btn-primary"
            ng-click="openBackground()">{{sites.length}} Sites >></a></p>
    </div>

    <script src="/assets/bower_components/angular/angular.min.js"></script>
    <script src="/assets/js/services.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
